<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="triangle" class="com.deep.sptest.Triangle">
        <!--<property name="type" value="equilateral"/>-->
        <!--<constructor-arg value="Equilateral"></constructor-arg>-->
        <!--<constructor-arg value="20"/>-->
        <property name="points">
            <list>
                <ref bean="point1"/>
                <ref bean="point2"/>
                <ref bean="point3"/>
            </list>
        </property>

        <!--<property name="b" ref="point2">-->

        <!--</property>-->
        <!--<property name="c" ref="point3"/>-->
    </bean>

    <bean id="point1" class="com.deep.sptest.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point2" class="com.deep.sptest.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point3" class="com.deep.sptest.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>


    <!-- Auto wire-->

    <bean id="parentTriangle" class="com.deep.sptest.auto_wiring.AutoWireTriangle">
        <property name="pointA" ref="pointA"/>
    </bean>

    <!--<bean id="auto_wire_triangle" class="com.deep.sptest.auto_wiring.AutoWireTriangle" autowire="byName">-->

    <!--</bean>-->
    <bean id="triangle1" class="com.deep.sptest.auto_wiring.AutoWireTriangle" parent="parentTriangle">
        <property name="pointB" ref="pointB"></property>
        <property name="pointC" ref="pointC"></property>
    </bean>

    <bean id="triangle2" class="com.deep.sptest.auto_wiring.AutoWireTriangle" parent="parentTriangle">
        <property name="pointB" ref="pointB"></property>
    </bean>

    <bean id="pointA" class="com.deep.sptest.auto_wiring.AutoWirePoint">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointB" class="com.deep.sptest.auto_wiring.AutoWirePoint">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="pointC" class="com.deep.sptest.auto_wiring.AutoWirePoint">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <!-- Callback bean-->
    <bean id="callback_bean" class="com.deep.sptest.callbacks.CallbackTriangle" init-method="my_init"
          destroy-method="my_clean_up">
        <!--<property name="type" value="test"></property>-->
        <property name="type" value="${type}"></property>

    </bean>

    <!-- For Bean Post Processor-->
    <!--<bean class="com.deep.sptest.DisplayBeanPostProcessor"></bean>-->

    <!--For Bean Factory Post Processor -->
    <!--<bean class="com.deep.sptest.MyBeanFactory"></bean>-->

    <!-- For Config Properties -->
    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="locations" value="config.properties"></property>-->
    <!--</bean>-->


    <!-- For Coding to interface -->
    <bean id="cdTriangle" class="com.deep.sptest.cod_interface.CdiTriangle">
        <property name="cd1" ref="cd1"/>
        <property name="cd2" ref="cd2"/>
        <property name="cd3" ref="cd3"/>

    </bean>
    <bean id="cdCircle" class="com.deep.sptest.cod_interface.CdiCircle">

        <property name="circle" ref="cd4"/>
    </bean>

    <bean id="cd1" class="com.deep.sptest.cod_interface.CdiPoint">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="cd2" class="com.deep.sptest.cod_interface.CdiPoint">

        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="cd3" class="com.deep.sptest.cod_interface.CdiPoint">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="cd4" class="com.deep.sptest.cod_interface.CdiPoint">
        <property name="x" value="20"/>
    </bean>

    <!-- For Required Bean Post processing-->
    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>-->

    <!-- Autowired bean annotation-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>-->

    <!-- For Adding all post processor instead of single single-->
    <!--<context:annotation-config></context:annotation-config>-->

    <!-- for reading property file this is correct way -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>mymessages</value>
            </list>
        </property>

    </bean>

    <!-- For DB-->
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.deep.sptest.jdbc"/>

</beans>